
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:powderblue;
}
h3{
    text-align: center;
}
.w1,.w2,.w3
{
    box-sizing: content-box;
    margin-left: 20px;
    margin-right: 10px;
    border:solid 3px black;
}
.w1{
    background-color:  #d415d4;}
  .w2{
      background-color:  #ff0000;	}
  .w3{
      background-color:lawngreen;}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    
}

.food-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    
    background-color: orange;
    border-radius: 10px;
}

@media (min-width: 350px) and (max-width:650px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
       display: none;    
         width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links  li {
        text-align: center;
        
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        
    }

    .navbar-links.active {
        display: flex;
    }
}